.proyecto{
    width:100%;
    height:250px;
    object-fit:cover;
    border-radius:15px;
    box-shadow:0 5px 15px rgba(0,0,0,.2);
    transition:0.3s;
    cursor:pointer;
}

.proyecto:hover{
    transform:scale(1.05);
    box-shadow:0 10px 25px rgba(0,0,0,.35);
}
